<h1>Register your acount</h1>
<h3>user: user_good</h3>
<h3>password: pass_good</h3>
<button id="link-button">Link Account</button>
<link rel="stylesheet" href="https://threads.plaid.com/threads.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script type="text/javascript">
  (function($) {
    var handler = Plaid.create({
      clientName: 'Plaid Quickstart',
      env: 'sandbox',
      key: '71df13f291aedef2fe2d96c3edd4fd',
      product: ['transactions'],
      onSuccess: function(public_token, metadata) {
        $.post('/get_access_token', {
          public_token: public_token,
        }, function(data){
          window.location.replace('/transactions');
        });
      },
      onExit: function(err, metadata) {
        if (err != null) {
        }
        // metadata contains information about the institution
        // that the user selected and the most recent API request IDs.
        // Storing this information can be helpful for support.
      }

    });
    $('#link-button').on('click', function(e) {
      handler.open();
    });
  })(jQuery);
</script>
